.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #ffb5ec;
    padding: 20px;
    text-align: center;
}

.logo{
    padding: 20px;
    text-align: left;
    width: 150px;
    height: 150px;
}
.nav {
    display: flex;
    justify-content: center;
    
    padding: 10px;
}
.nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
}
.footer {
    background-color: #ab679b;
    text-align: center;
    padding: 10px;
}

